.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* setup */
html, body {
  height: 100%;
}
.snapper {
  display: flex;
  overflow: auto;
  flex: none;
  width: 100%;
  height: 80%;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
}
.snapper > .row {
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
}

